@import url(animate.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
:root {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #ECEFF1;
}

.posts {
	height: 100%;
	height-display: flex;
	height-flex-direction: row;
	height-justify-content: center;
	height-align-items: center;
}

.post {
	width: 75%;
	min-height: 500px;
	margin: auto;
	border-radius: 2px;
	background-color: #FFF;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19), 0 6px 3px 0 rgba(0, 0, 0, 0.23);
}

.post-header {
	width: 100%;
	height: 75px;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.35);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-line-pack: start;
	-webkit-align-content: flex-start;
	align-content: flex-start;
}

.post-header__profile-picture {
	width: 75px;
	height: 75px;
	background-size: cover;
}

.post-header__username {
	margin: 0 10px;
	line-height: 75px;
}

.post-header__likes-comments {
	width: 208px;
	margin-left: auto;
}

.likes-comments__comments, .likes-comments__likes {
	width: 100px;
	border-left: 1px solid rgba(0, 0, 0, 0.35);
	text-align: center;
	line-height: 75px;
	display: inline-block;
}

.post-content {
	width: 100%;
	min-height: 750px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.post-content__image {
	width: 100%;
	background-size: cover;
}

.post-content__caption {
	width: calc(100% - 40px);
	min-height: 750px;
	padding: 10px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	-webkit-align-content: center;
	align-content: center;
}

.caption-text {
	margin-top: -25px;
	font-size: 1.2rem;
	font-size-letter-spacing: 3px;
	font-size-text-indent: 3px;
	font-size-text-align: center;
	font-size-line-height: 2rem;
	text-align: center;
}

.post-footer {
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.35);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-line-pack: start;
	-webkit-align-content: flex-start;
	align-content: flex-start;
}

.post-footer__users-liked, .post-footer__users-commented {
	width: 100%;
}

.user-liked__profile-picture, .user-commented__profile-picture {
	width: 50px;
	height: 50px;
	background-size: cover;
	display: inline-block;
}

.user-liked span, .user-liked h2, .user-liked p {
	margin: 0;
	padding: 0;
	line-height: 50px;
	display: inline;
}

.user-liked__username, .user-commented__username, .user-commented__comment {
	vertical-align: top;
	line-height: 50px;
	display: inline;
}
