@import url(animate.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
:root {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.html {
	height: 100vh;
}

.html, .body {
	margin: 0;
	padding: 0;
}

.body {
	background-color: #EF5350;
	color: #212121;
	overflow: hidden;
	-webkit-transition: background-color .5s;
	transition: background-color .5s;
}

.posts {
	position: relative;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.post {
	background-color: #FFFFFF;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.post--active {
	display: block;
}

.post--hidden {
	display: none;
}

.post {
	width: 75vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.post__image {
	min-width: 50%;
	float: left;
}

.post__caption {
	height: 100%;
	min-width: -webkit-calc(50% - 20px);
	min-width: calc(50% - 20px);
	margin: 5px;
	padding: 10px;
	font-size: 1.2rem;
	letter-spacing: 3px;
	text-indent: 3px;
	text-align: center;
	line-height: 2rem;
}

.post__caption--mention, .post__caption--hashtag {
	padding: 1px;
	margin: 1px;
	border-radius: 5px;
	background-color: #e1e1e1;
}

.account {
	position: fixed;
	left: 10px;
	padding: 5px;
	background-color: #FFFFFF;
	font-size: 1.25rem;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
}

.account__avatar {
	width: 40px;
	vertical-align: middle;
	border-radius: 50%;
}

.time {
	position: fixed;
	right: 10px;
	padding: 5px;
	background-color: #FFFFFF;
	font-size: 1.25rem;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
}

.time__now--separator {
	-webkit-animation: clock .5s linear infinite alternate;
	animation: clock .5s linear infinite alternate;
}

.footer {
	position: fixed;
	bottom: 5px;
	right: 5px;
	padding: 5px;
	background-color: #FFFFFF;
	font-size: 0.4rem;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
}

.fa-instagram {
	color: #125688;
}

.fa-heart {
	color: #EF5350;
}

.fa-clock-o {
	color: #2E7D32;
}

@-webkit-keyframes clock {
	0% {
		color: #212121;
	}
	100% {
		color: transparent;
	}
}

@keyframes clock {
	0% {
		color: #212121;
	}
	100% {
		color: transparent;
	}
}

@media (min-width: 800px) {
	.post__image {
		width: 35.5vw;
	}
}
