@import url(animate.min.css)
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300)

$blue: #125688
$red: #EF5350
$grey: #212121
$white: #EEEEEE

:root
    font-size: 20px
    font-family: 'Open Sans', sans-serif
    font-weight: 400

.html
    height: 100vh

.html, .body
    margin: 0
    padding: 0

.body
    background-color: $red
    color: $grey
    overflow: hidden
    transition: background-color .5s

.posts
    position: relative
    width: 100%
    height: 100%

    display: flex
    justify-content: center
    align-items: center

.post
    background-color: #FFFFFF
    border-radius: 10px
    overflow: hidden
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23)

    display: flex
    justify-content: center
    align-items: center
    flex-direction: row

.post--active
    display: block

.post--hidden
    display: none

.post
    width: 75vw

    display: flex

.post__image
    min-width: 50%
    float: left

.post__caption
    height: 100%
    margin: 5px
    padding: 10px
    font-size: 1.2rem
    letter-spacing: 3px
    text-indent: 3px
    text-align: center
    line-height: 2rem

.post__caption--mention, .post__caption--hashtag
    padding: 1px
    margin: 1px
    border-radius: 5px
    background-color: darken($white, 5)

.account
    position: fixed
    left: 10px
    padding: 5px
    background-color: #FFFFFF
    font-size: 1.25rem
    text-align: center
    border-radius: 5px
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23)

.account__avatar
    width: 40px
    vertical-align: middle
    border-radius: 50%

.time
    position: fixed
    right: 10px
    padding: 5px
    background-color: #FFFFFF
    font-size: 1.25rem
    text-align: center
    border-radius: 5px
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23)

.time__now--separator
    animation: clock .5s linear infinite alternate

.footer
    position: fixed
    bottom: 5px
    right: 5px
    padding: 5px
    background-color: #FFFFFF
    font-size: 0.4rem
    border-radius: 5px
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23)

.fa-instagram
    color: $blue

.fa-heart
    color: $red

.fa-clock-o
    color: #2E7D32

@keyframes clock
    0%
        color: $grey

    100%
        color: transparent

@media (min-width: 800px)
    .post__image
        width: 35.5vw
